$align: left;
$align-01:  center;
$bg-color: #ddd;
$color-01: #ff5;
$color-02: #999;
$color-03: rgb(0, 0, 0);
$color-04: #ffffff;
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.8rem;
$font-small: 1.2rem;
$mb: 1.0rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;